<nav class="bg-white border-gray-200 dark:bg-gray-900 border-b sticky top-0 z-40">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-center mx-auto p-4">
    <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="assets/logo.png" class="h-8" alt="Flowbite Logo"/>
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">WebIFA - REC Tool</span>
    </a>
    @if (headers.length > 0) {
      <button type="button" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-3 py-1 ml-8" (click)="clear()">Reset</button>
    }
  </div>
</nav>




@if (this.headers.length === 0) {
  <div class="container max-w-screen-xl mx-auto mt-8">
    <div class="w-full p-4 bg-white border rounded-lg">
      <form class="space-y-6">
        <h5 class="text-xl font-medium text-gray-900 dark:text-white">REC Data</h5>
        <div>
        <textarea id="recData" rows="4" [(ngModel)]="recData" name="recData"
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Copy here your REC content"></textarea>
        </div>
        <button type="submit" (click)="parseRec()"
                class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Parse REC
        </button>
      </form>
    </div>
  </div>
}


<div class="relative overflow-x-auto z-20">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">

    @for (header of headers; track header.fieldName) {
      <tr class="hover-blue relative">
        <th scope="col" class="px-3 py-1 border-b bg-white w-1/6 sticky left-0">
          {{ header.fieldName }}
          <br>
          <small>{{ header.fieldDescription }}</small>
        </th>
        @for (item of header.data; track item) {
          <td scope="col" class="px-3 py-1 border-l border-b">
            {{ item }}
          </td>
        }
      </tr>
    }
  </table>
</div>

